{%extends "base.html"%}
{% block content %}


<style>
.list{
    position: relative;
    width: 400px;
}
.list ul{
    position: relative;
}
.list ul h3
{
position: relative;
Left: 0;
color:#999;
List-style: none;
margin: 4px 0;
border-left: 2px solid #24ff0b;
transition: 0.5s;
cursor: pointer;
}

.list ul h3:hover
{
Left: 10px;
}
.list ul h3 a{
position: relative;
padding: 8px;
display: inline-block;
z-index: 1;
transition: 0.5s;
text-decoration: none;
color: white;
}

</style>
<!DOCTYPE html>
<html>
<head>
    <title>Kategoriler</title>
</head>
<body>
    <center>
    <h1>Kategoriler</h1>
    <h1>&nbsp;</h1>

    <div class="list">
    <ul>
        {% for category in categories %}
            <h3><a href="{% url 'kategori_view' category.id %}">{{ category.name }}</a></h3>
        {% endfor %}
    </ul>
    <h1>&nbsp;</h1>
</div>
</center>
</body>
</html>
{% endblock %}