{% extends 'base.html' %}

{% block content %}
  <h1>Market</h1>

  {% for urun in urunler %}
  <div class="urun">
    <a href="{% url 'urun_detail' urun.id %}">
      <img src="{{ urun.urun_resmi.url }}" alt="{{ urun.urun_ismi }}" style="max-width: 200px; max-height: 200px;" >
      <h2>{{ urun.urun_ismi }}</h2>
      <p>{{ urun.urun_aciklamasi }}</p>
      <p>Fiyat: {{ urun.urun_fiyati }}</p>
      <p>Stok Adedi: {{ urun.stok_adedi }}</p>
    </a>
  </div>  
  {% empty %}
    <p>Markette hiç ürün yok.</p>
  {% endfor %}
{% endblock %}
s