<!-- profile.html -->

<h2>Profil Sayfası</h2>
<p>İsim: {{ user.first_name }}</p>
<p>Soyisim: {{ user.last_name }}</p>
<p>Biografi: {{ user.biography }}</p>
<p>Web Sitesi: <a href="{{ user.website }}">{{ user.website }}</a></p>
<p>İnstagram: <a href="{{ user.instagram }}">{{ user.instagram }}</a></p>
<p>Facebook: <a href="{{ user.facebook }}">{{ user.facebook }}</a></p>
<p>Twitter: <a href="{{ user.twitter }}">{{ user.twitter }}</a></p>
<p>Youtube: <a href="{{ user.youtube }}">{{ user.youtube }}</a></p>
